---
import Head from '@components/Head.astro';
import type { TypePageSkeleton } from '@lib/generated/contentful';
import type { Entry } from '@lib/types';

interface Props extends Entry<TypePageSkeleton> {}

const page = Astro.props;
---

<!doctype html>
<html lang="it">
	<Head {...page} />
	<body class="overflow-x-hidden bg-tedBlack text-tedWhite">
		<slot />
	</body>
</html>
