---
import "@styles/main.css";
import Header from "@components/Header.astro";
import type { TypePageSkeleton } from "@lib/generated/contentful";
import Footer from "@components/Footer.astro";
import type { Entry } from "@lib/types";
import Base from "./Base.astro";
import website from "@lib/website";

interface Props extends Entry<TypePageSkeleton> {}

const page = Astro.props;
---

<Base {...page}>
  <div class="container overflow-x-hidden flex flex-col min-h-screen relative">
    <Header {...website} />
    <main class="flex-1 relative flex flex-col">
      <slot />
    </main>
    <Footer {...website} />
  </div>
</Base>
