---
import '@styles/main.scss';

import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import type { TypePageSkeleton } from '@lib/generated/contentful';
import type { Entry } from '@lib/types';
import website from '@lib/website';

import Base from './Base.astro';

interface Props extends Entry<TypePageSkeleton> {}

const page = Astro.props;
---

<Base {...page}>
	<slot name="before-container" />
	<div class="container relative flex min-h-screen flex-col">
		<Header {...website} />
		<main class="relative flex flex-1 flex-col">
			<slot />
		</main>
		<Footer {...website} />
	</div>
</Base>
