---
import "@styles/main.scss";

import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import type { TypePageSkeleton } from "@lib/generated/contentful";
import type { Entry } from "@lib/types";
import website from "@lib/website";

import Base from "./Base.astro";

interface Props extends Entry<TypePageSkeleton> {
  nakedNavigation?: boolean;
  liveIndicator?: string;
  className?: string;
}

const page = Astro.props;
---

<Base {...page} className={page.className}>
  <slot name="before-container" />
  <div class="container relative flex min-h-screen flex-col overflow-x-hidden">
    <Header
      {...website}
      nakedNavigation={page.nakedNavigation}
      liveIndicator={page.liveIndicator}
    />
    <main class="relative flex flex-1 flex-col">
      <slot />
    </main>
    <Footer {...website} />
  </div>
</Base>
