---
import type { TypeSpeakerSkeleton } from "@lib/generated/contentful";
import type { Entry } from "@lib/utils";

interface Props extends Entry<TypeSpeakerSkeleton> {}

const {
  fields: { firstName, lastName, job },
} = Astro.props;
---

<div>
  <div>
    <h3 class="mb-2">{firstName}<br />{lastName}</h3>
    <p class="mb-2">{job}</p>
  </div>
</div>
