
#twitch-embed {
    @apply relative h-0;
    padding-top: 150%;
}
#twitch-embed iframe {
    @apply absolute top-0 left-0 right-0 bottom-0;
}

.twitch-chat-embed {
    min-width: 335px;
    height: 500px;
    position: relative;
}

@screen md{
    #twitch-embed {
        padding-top: 56.25%;
    }

    .twitch-chat-embed {
        height: auto;
        flex: 1 1 0%;
    }
}