---
import DynamicComponent from "@components/DynamicComponent.astro";
import Base from "../layouts/Base.astro";
import contentful from "@lib/contentful";
import type {
  TypePageFields,
  TypePageSkeleton,
} from "@lib/generated/contentful/index";
import Homepage from "src/layouts/Homepage.astro";

export async function getStaticPaths() {
  const pages = (
    await contentful.getEntries<TypePageSkeleton>({
      content_type: "page",
      include: 10,
    })
  ).items;

  const staticPaths = pages.map((page) => {
    return {
      params: { slug: page.fields.slug == "/" ? undefined : page.fields.slug },
      props: {
        page: page.fields,
        sys: page.sys,
      },
    };
  });

  return staticPaths;
}

const getLayout = (page: TypePageFields) => {
  switch (page.layout as unknown as string) {
    case "Generico":
      return Base;
    case "Homepage":
      return Homepage;
    case "Evento 2023":
      return Base;
    default:
      return Base;
  }
};

const { page } = Astro.props;
const Layout = getLayout(page as unknown as TypePageFields);
---

<Layout title={page.browserTitle}>
  <main>
    {
      page.content
        ?.filter((c) => c)
        .map((c) => <DynamicComponent component={c!} />)
    }
  </main>
</Layout>
