---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Example.astro";
import Example from "../components/Example.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-2xl">Welcome to the TEDxCuneo new website</h1>
    <Example
      title="Component title"
      body="Component body"
      href="https://tedxcuneo.com"
    />
  </main>
</Layout>
