---
/**
 * Collapsible component, makes the content collapsible
 */

interface Props {
  id: string;
  title?: string;
}

const { title, id } = Astro.props;
---

<section class="mb-8 accordion">
  <input type="checkbox" name={id} id={id} class="absolute -left-[100vw]" />
  <div class="mb-4 handle">
    <label
      for={id}
      role="tablist"
      class="flex items-center justify-between cursor-pointer py-6 border-b border-tedDarkWhite"
    >
      <h2>{title ?? "Collapsible"}</h2>
      <div class="plus-icon inline-block mr-2 relative w-4 h-4">
        <span
          class="bg-tedRed block w-full h-0.5 absolute left-0 top-1/2 -translate-y-1/2 transition-transform"
        ></span>
        <span
          class="bg-tedRed block w-full h-0.5 absolute left-0 top-1/2 -translate-y-1/2 transition-transform"
        ></span>
      </div>
    </label>
  </div>
  <div class="content mx-auto overflow-y-hidden h-0" role="tabpanel">
    <slot />
  </div>
</section>

<style lang="scss">
  section {
    > input[type="checkbox"] {
      &:checked ~ .content {
        height: auto;
        overflow: visible;
      }
      &:checked ~ .handle label .plus-icon span:first-child {
        transform: rotate(180deg);
      }
    }
    .content {
      transition: height 0.3s ease;
    }
    .plus-icon {
      span {
        transform-origin: center;
        &:first-child {
          transform: rotate(90deg);
        }
      }
    }
  }
</style>
