---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div class="bg-gray-800 rounded-2xl inline-flex flex-col white p-4">
  <a href={href}>
    <h2>
      {title}
    </h2>
    <p>
      {body}
    </p>
  </a>
</div>
