<div class="">
	<h2 class="mb-3 max-w-[506px] md:mb-7">
		Iscriviti alla newsletter per scoprire quando escono i biglietti
	</h2>
	<form
		action="https://tedxcuneo.us2.list-manage.com/subscribe/post?u=b326ddb735f14f6f463d8b8c8&id=8494465c49"
		method="post"
		id="mc-embedded-subscribe-form"
		name="mc-embedded-subscribe-form"
		class="validate"
		target="_blank"
	>
		<div id="mc_embed_signup_scroll">
			<div class="mc-field-group mb-3 md:mb-7">
				<input
					type="email"
					value=""
					required
					placeholder="Inserisci il tuo indirizzo email"
					name="EMAIL"
					class="required email relative w-full max-w-660 rounded-none border border-tedWhite bg-transparent p-3 text-tedWhite outline-none placeholder:text-tedWhite focus:outline-none focus:ring md:mr-11"
					id="mce-EMAIL"
				/>
			</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true">
				<input type="text" name="b_b326ddb735f14f6f463d8b8c8_8494465c49" tabindex="-1" value="" />
			</div>

			<div class="mb-3 md:mb-7">
				<label class="flex items-center justify-start">
					<div
						class="mr-2 flex size-6 shrink-0 items-center justify-center border border-tedWhite bg-transparent"
					>
						<input
							type="checkbox"
							class="checkbox absolute opacity-0"
							id="gdpr_22734"
							name="gdpr[22734]"
							value="Y"
							required
						/>
						<svg
							class="text-green-500 pointer-events-none hidden size-4 fill-tedWhite"
							viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"></path></svg
						>
					</div>
					<div class="select-none text-tedDarkWhite" style="font-size: 14px;">
						Accetto l' <a class="font-bold" href="/informativa-trattamento-dei-dati" target="_blank"
							>informativa al trattamento dati</a
						> e condivido il mio indirizzo email
					</div>
				</label>
			</div>
			<div class="clear">
				<input
					type="submit"
					value="Ricevi aggiornamenti"
					name="subscribe"
					id="mc-embedded-subscribe"
					class="button cursor-pointer rounded-none bg-tedWhite px-4 py-3 text-small font-bold uppercase text-tedBlack"
				/>
			</div>
		</div>
	</form>
</div>

<style>
	.checkbox:checked + svg {
		display: block;
	}
</style>
