---
import type { TypePageSkeleton } from '@lib/generated/contentful';
import type { Entry } from '@lib/types';
import { prependSlash } from '@lib/utils';

interface Props {
	previousPage?: Entry<TypePageSkeleton>;
	previousPageLabel?: string;
	title: string;
	intro?: string;
	pageName?: string;
	withMargin?: boolean;
}

const { title, intro, pageName, previousPageLabel, previousPage, withMargin = true } = Astro.props;

const hasPreviousPage = previousPage && previousPageLabel;
const previousPageSlug = previousPage?.fields?.slug;
---

<section class={`mt-14 md:mt-16 ${withMargin ? 'mb-28' : ''}`}>
	{
		hasPreviousPage && (
			<p class="mb-6">
				<a
					href={prependSlash(previousPageSlug!)}
					class="link-underline link-underline--fixed no-underline"
				>
					← {previousPageLabel}
				</a>
			</p>
		)
	}
	<p class="mb-6 uppercase text-tedDarkWhite">
		{pageName}
	</p>
	<h1 class="max-w-660">{title}</h1>
	{intro && <p class="mt-12 w-full whitespace-pre-wrap md:mt-16  md:w-1/2">{intro}</p>}
</section>
