<div>
  <h2 class="max-w-400 mb-3 md:mb-7">
    Lasciaci un recapito, ti ricontattiamo noi
  </h2>
  <form
    action="https://tedxcuneo.us2.list-manage.com/subscribe/post?u=b326ddb735f14f6f463d8b8c8&id=219faa13a0"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank"
  >
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <input
          type="text"
          value=""
          id="mce-NAME"
          required
          placeholder="nome e cognome"
          name="NAME"
          class="mb-6 required email rounded-none px-3 py-3 placeholder-tedWhite text-tedWhite relative bg-transparent border border-tedWhite outline-none focus:outline-none focus:ring w-full max-w-660 md:mr-11"
        />
      </div>
      <div class="mc-field-group">
        <input
          type="email"
          value=""
          required
          placeholder="indirizzo email"
          name="EMAIL"
          class="mb-6 required email rounded-none px-3 py-3 placeholder-tedWhite text-tedWhite relative bg-transparent border border-tedWhite outline-none focus:outline-none focus:ring w-full max-w-660 md:mr-11"
          id="mce-EMAIL"
        />
      </div>
      <div class="mc-field-group size1of2">
        <input
          type="text"
          value=""
          required
          placeholder="telefono"
          name="PHONE"
          class="mb-6 required email rounded-none px-3 py-3 placeholder-tedWhite text-tedWhite relative bg-transparent border border-tedWhite outline-none focus:outline-none focus:ring w-full max-w-660 md:mr-11"
          id="mce-PHONE"
        />
      </div>
      <div class="mc-field-group">
        <input
          type="text"
          value=""
          required
          placeholder="nome azienda"
          name="COMPANY"
          class="mb-6 required email rounded-none px-3 py-3 placeholder-tedWhite text-tedWhite relative bg-transparent border border-tedWhite outline-none focus:outline-none focus:ring w-full max-w-660 md:mr-11"
          id="mce-COMPANY"
        />
      </div>
      <div
        id="mergeRow-gdpr"
        class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group"
      >
        <div class="content__gdpr mb-3 md:mb-7">
          <label class="flex justify-start items-center">
            <div
              class="bg-transparent border border-tedWhite w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2"
            >
              <input
                type="checkbox"
                name="gdpr[22886]"
                id="gdpr_22886"
                value="Y"
                class="checkbox opacity-0 absolute"
                required
              />
              <svg
                class="hidden w-4 h-4 text-green-500 pointer-events-none fill-tedWhite"
                viewBox="0 0 20 20"
                ><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"></path></svg
              >
            </div>
            <div class="select-none text-tedDarkWhite">
              Accetto l' <a
                class="font-bold"
                href="/informativa-al-trattamento-dati"
                target="_blank">informativa al trattamento dati</a
              > e condivido il mio indirizzo email
            </div>
          </label>
        </div>
      </div>
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none">
      </div>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input
        type="text"
        name="b_b326ddb735f14f6f463d8b8c8_219faa13a0"
        tabindex="-1"
        value=""
      />
    </div>
    <div class="clear">
      <input
        type="submit"
        value="Invia richiesta"
        name="subscribe"
        id="mc-embedded-subscribe"
        class="button cursor-pointer font-bold text-small uppercase text-tedBlack bg-tedWhite py-3 px-4 rounded-none"
      />
    </div>
  </form>
</div>

<!--End mc_embed_signup-->
