---
import type { TypePageSkeleton } from "@lib/generated/contentful";
import type { Entry } from "@lib/types";
import Head from "@components/Head.astro";

interface Props extends Entry<TypePageSkeleton> {}

const page = Astro.props;
---

<html lang="it">
  <Head {...page} />
  <body class="bg-tedBlack text-tedWhite">
    <slot />
  </body>
</html>
