---
import DynamicComponenList from "@components/DynamicComponenList.astro";
import PageIntro from "@components/PageIntro.astro";
import type { TypePageSkeleton } from "@lib/generated/contentful";
import type { Entry } from "@lib/types";

import WithNavigation from "./abstract/WithNavigation.astro";

interface Props extends Entry<TypePageSkeleton> {}

const page = Astro.props;

/**
 * Extraordinario layout
 */
---

<WithNavigation {...page}>
  <PageIntro {...page.fields} withMargin={false} />
  <h3 class="mb-20 mt-8 text-tedDarkWhite md:mb-16 md:mt-12">15 maggio 2021</h3>
  <DynamicComponenList components={page.fields.content} />
</WithNavigation>
