---
import DynamicComponenList from '@components/DynamicComponenList.astro';
import type { TypePageSkeleton } from '@lib/generated/contentful';
import type { Entry } from '@lib/types';
import website from '@lib/website';

import WithNavigation from './abstract/WithNavigation.astro';

interface Props extends Entry<TypePageSkeleton> {}

const page = Astro.props;
---

<WithNavigation {...page}>
	<section
		class="bg-metamorfosi relative h-[calc(100vh-48px)] max-h-[800px] min-h-[750px] overflow-visible"
	>
		<div class="bubble-wrapper">
			<img src="/img/metamorfosi/blob1.png" alt="Metamorfosi" class="main-blob" />
			<div class="logo">
				<img src="/img/metamorfosi/logo.svg" alt="Metamorfosi" class="relative inset-0" />
				{
					website.fields.livePage?.fields.slug && (
						<div class="relative bottom-[-40px] right-0 flex items-center justify-end gap-x-[8px]">
							<svg height="22" width="20" class="blinking">
								<circle cx="10" cy="11" r="7" fill="#FF2B06" />
							</svg>
							<a
								href="/live"
								class="link-underline link-underline--fixed text-tedWhite no-underline"
							>
								Siamo in diretta&nbsp;↗
							</a>
						</div>
					)
				}
			</div>
			<img src="/img/metamorfosi/blob2.png" alt="Metamorfosi" class="small-bubble" />
			<img src="/img/metamorfosi/sphere.png" alt="Metamorfosi" class="sphere" />
		</div>
	</section>
	<div class="z-10">
		<DynamicComponenList components={page.fields.content} />
	</div>
</WithNavigation>

<style lang="scss">
	.bg-metamorfosi {
		background: radial-gradient(closest-side, #221c44, rgb(14 14 14));
	}
	.bubble-wrapper {
		position: absolute;
		aspect-ratio: 1199 / 944;
		left: 60px;
		right: 0px;
		margin: auto;
		top: 150px;
		width: 400px;
		.small-bubble {
			position: absolute;
			left: -60px;
			top: -80px;
			z-index: 1;
			width: 230px;
		}
		& .main-blob {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			width: 100%;
		}
		& .sphere {
			position: absolute;
			left: 150px;
			bottom: -190px;
			z-index: 3;
			width: 250px;
		}
		& .logo {
			z-index: 4;
			position: absolute;
			top: 260px;
			left: -40px;
			height: 200px;
			width: 200px;
		}
	}

	@screen lg {
		.bubble-wrapper {
			left: 200px;
			right: 0px;
			top: 40px;
			width: 750px;
			.small-bubble {
				left: -100px;
				top: -100px;
				width: 380px;
			}
			& .logo {
				top: 200px;
				left: -180px;
				width: 200px;
				height: auto;
			}
			& .main-blob {
				top: 0;
				left: 0;
				width: 100%;
			}
			& .sphere {
				left: auto;
				right: -60px;
				bottom: -280px;
				width: 450px;
			}
		}
	}
</style>
