---
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "TEDxCuneo"}</title>
    <meta name="theme-color" content="#0E0E0E" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <style>
      @font-face {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        src:
          url("/assets/font/Inter-Regular.woff2") format("woff2"),
          url("/assets/font/Inter-Regular.woff") format("woff");
      }

      @font-face {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        src:
          url("/assets/font/Inter-Bold.woff2") format("woff2"),
          url("/assets/font/Inter-Bold.woff") format("woff");
      }
    </style>

    <!-- Start cookieyes banner -->
    <script
      id="cookieyes"
      type="text/javascript"
      src="https://cdn-cookieyes.com/client_data/a94dd53e9c1e847e97c0e7f4/script.js"
    ></script>
    <!-- End cookieyes banner -->

    <!-- Google Tag Manager -->
    <script>
      // @ts-nocheck
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-T7BLKWQ");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="bg-tedBlack text-tedWhite">
    <slot />
  </body>
</html>
