---
import DynamicComponenList from "@components/DynamicComponenList.astro";
import type { TypePageSkeleton } from "@lib/generated/contentful";
import type { Entry } from "@lib/types";

import WithNavigation from "./abstract/WithNavigation.astro";

interface Props extends Entry<TypePageSkeleton> {}

const page = Astro.props;

/**
 * Live streaming layout
 */
---

<WithNavigation
  {...page}
  nakedNavigation={true}
  liveIndicator={page.fields.title}
>
  <div class="my-4"></div>
  <DynamicComponenList components={page.fields.content} />
</WithNavigation>
