---
import DynamicComponenList from '@components/DynamicComponenList.astro';
import PageIntro from '@components/PageIntro.astro';
import type { TypePageSkeleton } from '@lib/generated/contentful';
import type { Entry } from '@lib/types';

import WithNavigation from './abstract/WithNavigation.astro';

interface Props extends Entry<TypePageSkeleton> {}

const page = Astro.props;

/**
 * Partner layout, used to display the first two grids side by side
 */
---

<WithNavigation {...page}>
	<PageIntro {...page.fields} />
	<div class="md:grid md:grid-cols-2 md:gap-x-4">
		<DynamicComponenList components={page.fields.content?.slice(0, 2)} />
	</div>
	<DynamicComponenList components={page.fields.content?.slice(2)} />
</WithNavigation>
