---
import DynamicComponenList from '@components/DynamicComponenList.astro';
import type { TypePageSkeleton } from '@lib/generated/contentful';
import type { Entry } from '@lib/types';

import WithNavigation from './abstract/WithNavigation.astro';

interface Props extends Entry<TypePageSkeleton> {}

const page = Astro.props;
---

<WithNavigation {...page}>
	<div
		style="background-image: url('/img/partnership_hero.jpg')"
		class="z-1 absolute inset-x-0 top-0 h-550 w-full bg-cover bg-center bg-no-repeat sm:h-600 md:h-800"
		slot="before-container"
	>
	</div>
	<div class="mb-40 mt-20 xsm:mb-64 md:mb-56 lg:mb-56">
		<h1 class="mb-16 max-w-660 xxsm:mb-24 md:mb-28 md:mt-16">
			{page.fields.title}
		</h1>

		<svg class="h-12" viewBox="0 0 13 24" xmlns="http://www.w3.org/2000/svg">
			<path
				fill="white"
				d="M2.03383e-07 17.1647L6.5 24L13 17.1647L11.8973 15.9898L7.29799 20.8264L7.29799 -2.49243e-07L5.70201 -3.19005e-07L5.70201 20.8264L1.11719 15.9898L2.03383e-07 17.1647Z"
			></path>
		</svg>
	</div>

	<div class="mb-16 flex flex-col items-start md:flex-row md:items-center">
		<h3 class="mb-4 md:mb-0">Perchè diventare partner</h3>
		<a href="#partner-form" class="button button--white md:ml-8">diventa partner</a>
	</div>

	<DynamicComponenList components={page.fields.content} />
</WithNavigation>

<style lang="scss"></style>
