---
import "@styles/main.css";
import Header from "@components/Header.svelte";
import GoogleTagManager from "@components/GoogleTagManager.astro";
import CookieyesBanner from "@components/CookieyesBanner.astro";
import contentful from "@lib/contentful";
import type {
  TypePageSkeleton,
  TypeWebsiteSkeleton,
} from "@lib/generated/contentful";
import Footer from "@components/Footer.astro";
import type { Entry } from "@lib/utils";
import Abstract from "./Base.astro";

interface Props extends Entry<TypePageSkeleton> {}

const page = Astro.props;

// Get pages to show in the navbar
const navbarPages: {
  title: string;
  slug: string;
}[] = (
  await contentful.getEntries<TypeWebsiteSkeleton>({
    content_type: "website",
    "fields.active": "Si", // workaround to make Website a singleton
    include: 1,
  })
).items.flatMap((item) => {
  const pages = item.fields.menuPages as unknown as TypePageSkeleton[];
  return pages.map((page) => {
    return {
      slug: page?.fields.slug as unknown as string,
      title: (page?.fields.navbarLabel ??
        page?.fields.title) as unknown as string,
    };
  });
});
---

<Abstract {...page}>
  <div class="container">
    <Header pages={navbarPages} client:load />
    <slot />
    <Footer />
  </div>
</Abstract>
